{{define "title"}}{{ .Title }}{{end}}
{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title }}
        {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
      </h1>
      {{- if .Description }}
      <div class="post-description">
        {{ .Description }}
      </div>
      {{- end }}
    </header>
    <dl>
      {{ if (isset .Params "source") }}<dt>Source<dd>{{ .Params.source }}{{end}}
      {{ if (isset .Params "yield") }}<dt>Yield<dd>{{ .Params.yield }}{{end}}
    </dl>
    {{- if .Content }}
    <div>
      {{ .Content }}
    </div>
    {{- end }}
  </article>
{{ end }}
