{{ define "main" }}
<h1>Recettes</h1>
{{ range .Site.Taxonomies.categories }}
<section>
<h2>{{ .Page.Title }}</h2>
<ul>
  {{ range (sort .Pages "Title") }}
  <li hugo-nav="{{ .RelPermalink}}">
    <a href="{{ .RelPermalink}}">{{ .LinkTitle }}</a> {{ if (isset .Params "source") }}<span style=color:grey;font-style:italic;>&lt;{{ strings.TrimPrefix "www." (urls.Parse .Params.source).Host }}&gt;</style>{{ end }}
  </li>
  {{ end }}
</ul>
</section>
{{ end }}
{{ end }}
